* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    max-width: 1200px; /* added max-width */
    margin: 0 auto; /* centered container */
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 1rem;
    }
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #0a6a9e;
  }
  
  .bars_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    background-color: #4309c1;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .bars_container .bar {
    background-color: #1af0d3;
    height: 100%;
    width: 3px;
  }
  
  .buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap; /* added flex-wrap */
  }
  
  .slider_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center; /* added text-align */
  }
  
  button {
    font-size: 24px;
    background-color: #0bb378;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #eee;
    color: #000;
  }
  